[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=4.0"
django-environ = "~=0.8"
black = "~=21.12b0"
isort = "~=5.10"
flake8 = "~=4.0"
python-telegram-bot = "~=13.11"
djangorestframework = "~=3.13.1"
psycopg2 = "~=2.9.3"
gunicorn = "~=20.1.0"
whitenoise = "~=6.0.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
